<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pwd.allen.dao.UserMapper">
  <resultMap id="BaseResultMap" type="pwd.allen.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="username" />
    <result column="role_desc" jdbcType="VARCHAR" property="createDate" />
    <result column="non_expired" property="isAccountNonExpired" />
    <result column="non_locked" property="isAccountNonLocked" />
    <result column="credentials_non_expired" property="isCredentialsNonExpired" />
  </resultMap>
  <select id="selectByUserName" parameterType="string" resultMap="BaseResultMap">
    select * from sys_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAuthByUserName" parameterType="string" resultType="auth">
    select auth.* from sys_user user
    inner join sys_user_role ur on user.id=ur.user_id
    inner join sys_role_auth ra on ur.role_id=ra.role_id
    inner join sys_auth auth on ra.auth_id=auth.id
    where username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>